html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #191b1c !important; /*#1b1d21*/
    color: #ffff !important;
}

/*-----------Custom-----------*/


/* Please ❤ this if you like it! */


@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');


:root {
    --white: #ffffff;
    --light: #f0eff3;
    --black: #000000;
    --dark-blue: #1f2029;
    --dark-light: #353746;
    --red: #da2c4d;
    --yellow: #f8ab37;
    --grey: #ecedf3;
}

/* #Primary
================================================== */

/*Radio buttons*/

.type {
    padding-left: 0px;
    display: flex;
    justify-content: space-between;
}


.checkbox-tools:checked + label,
.checkbox-tools:not(:checked) + label {
    position: relative;
    display: inline-block;
    padding: 15px;
    width: 50%;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    margin: 0 auto;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 4px;
    overflow: hidden;
    cursor: pointer;
    text-transform: uppercase;
    color: var(--white);
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}
.checkbox-tools {
    display: none;
}
    .checkbox-tools:not(:checked) + label {
        /*  background-color: #d7d4d4;*/
        background-color: var(--dark-light);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    }

    .checkbox-tools:checked + label {
        /* background-color: transparent;*/
        /* background-color: var(--dark-light);*/
        background-color: #d7d4d4;
        color: black;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

.checkbox-tools:not(:checked) + label:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.checkbox-tools:checked + label::before,
.checkbox-tools:not(:checked) + label::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: #000000;
   /* background-image: linear-gradient(298deg, var(--blue), var(--yellow));*/
    z-index: -1;
}


/*Widget*/
.widget-class {
    border-radius: 1rem;
    background-color: #343548;
}
.side {
    align-items: center;
}


@media(max-width:768px){
    .side-widget {
        display: none;
    }

}


/*Shape*/
.fa-shapes, .fa-money-bill-transfer {
    font-size: 6em;
}


/*Table for Categories*/
.category {
    pointer-events: auto !important;
    padding: 15px !important;
    background-color: #343548;
}
    .category tbody, .category td, .category tfoot, .category th, .category thead, .category tr {
        border-style: hidden;
        color: #fff;
    }

    .category thead {
        background-color: #1b1b28;
        color: #fff;
    }

    .category tbody tr:hover {
        background-color: #565775;
    }
    .category form {
        float: right;
    }
    .category button {
        border: 0px;
        background: 0;
    }



.activity::before, .activity::after {
    display: none !important;
}

.btn-edit, .btn-edit:hover{
    text-decoration:none;
    color:#fff;
}

/*----------------*/
input[type="search"] {
    border: 0 !important;
    border-radius: 6px !important;
}
select {
    border-radius: 6px !important;
}
