@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<Object> menuItems = new List<Object>();

    menuItems.Add(new
    {
        text = "Transactions",
        url = "/Transactions"
    });
    menuItems.Add(new
    {
        text = "Categories",
        url = "/Categories"
    });
}




<div id="sidenav" class="sidenav">
    <div class="logo-wrapper">
        <div class="app-logo"> 
            <img src="~/img/logo.png" style="width: 40px;" />
        </div>
        <div class="w-100 "></div>
        <i id="sidebar-toggler" class="fa-solid " ></i>
    </div>

    <div class="top-section" href="#">
        <img class="profile-picture w-8 h-8 fill-current" src="~/img/avatar.png" viewBox="0 0 20 20" fill="currentColor" />
        
        <div class="titles">
            <h4 class="text-sm font-bold">Wallet App</h4>
            <div class="text-muted">Ashton Cox2</div>
        </div>
    </div>


    <div class="menu-section border-t">
        <a href="/"><i class="fa-solid fa-box" ></i>Dashboard</a>
        <a href="/Categories"><i class="fa-solid fa-folder-closed"></i>Categories</a>
        <a href="/Transactions"><i class="fa-solid fa-arrow-right-arrow-left" ></i>Transactions</a>
        
    </div>

    <div class="menu-section border-t">
        <!--<a href="#"><i class="fa-solid fa-chart-simple" ></i>Reports</a> -->
        <a href="#"><i class="fa-solid fa-gear" ></i>Settings</a>
    </div>
    
</div>






<script>
    document.addEventListener('DOMContentLoaded',function(){
        var dockBar = document.getElementById("sidenav");
        document.getElementById('sidebar-toggler').onclick = function(){
            dockBar.classList.toggle("closed");

        };

    });
</script>