@model Tracker.Models.Transaction

@{
    ViewData["PageTitle"] = Model.TransactionId == 0 ? "Create a new transaction" : "Edit transaction";
}

<div class="row">
    <div class="col-md-7">
        <div class="widget-class p-5" style="background-color:#343548">
            <form asp-action="CreateorEdit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="TransactionId" value="@Model.TransactionId" />

                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control" type="date" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryId" class="control-label"></label>
                    <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"> 
                        <!--SEARCH FOR DROPDOWN + MIN AMOUNT-->
                    </select>

                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Amount" class="control-label"></label>
                    <div class="input-group ">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        <input asp-for="Amount" style="border-top-right-radius: 0.35rem;border-bottom-right-radius: 0.35rem;" type="number" min="0" class="form-control" />
                    </div>
                    <!--ADD CURRENCY-->
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Note" class="control-label"></label>
                    <textarea asp-for="Note"class="form-control" ></textarea>
                    <span asp-validation-for="Note" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-5 side-widget">
        <div class="widget-class side h-100 d-flex justify-content-center" style="background-color:#343548">
            <i class="fa-solid fa-money-bill-transfer"></i>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

